@mixin centered-content {
    margin: auto;
    width: 100%;
    text-align: center;
}


.mainpage{
    width: 80vw;
    margin: auto;
    padding: 10px;
    max-height: 150vh;
}

div.mainpage img{
    height: auto;

}

h3{
    @include centered-content();
    font-size: xx-large;
    padding-bottom: 15px;
}

footer {
    @include centered-content()
}

.mainlogo{
    @include centered-content();
}
div.mainlogo img{
   width: 50%;
   height: auto;
}

.maindescription{
    @include centered-content()

}

div.maindescription p {
    font-style: italic;
    font-size: larger;
    text-align: justify;
    text-justify: inter-word;
}

mat-grid-tile img{
    padding-top: 45px;
    width: auto;
    height: auto;

}

mat-grid-tile {
  cursor: pointer;
}
mat-grid-tile:hover {
  cursor: pointer;
  border: solid blue 2px;
}

input[type="file"]{
  visibility: hidden;
  display: none;
}


form{
  display: flex;
}
mat-form-field{
  margin: auto;
  width: 40vw;
}

form span{
  align-content: space-between;

}

span button{
  width: 9vw;
  display: inline-block;
  margin: auto;
}

#addForm{
  width: 95%;
  font-size: larger;
  font-weight: bold;
  text-align: end;
}

#closeLoginButton{
  display: block;
  margin-left: auto;
  margin-right: 5px;
}

.loginBanner{
  padding: 5px 25px 5px 25px;
  text-align: end;
  font-weight: bold;
  font-size: larger;
  border-radius: 15px;
  border: solid darkgreen 1px;

}
.loginBanner button{
  margin: 5px;
}
