<div class="mainpage">
    <div class="mainlogo">
        <img src="assets/logo.png" alt="Code Tricks Logo" >
    </div>
    <div class="maindescription">
        This site is intended for people who are learning to program, but can be used by almost anybody.<br> 
        Here you will find common problems and its solutions. <br>
        Our goal is to save your time on not making you write over and over again the same functions.
        <br>
        Please feel free to collaborate with us so everybody can use your solutions and save time while coding. <br>
        Also you can check current solutions and comment about <br>
        

    </div>
    <div>lugar para la lista de los lenguajes</div>
    <footer>
        <address>
            Created by <a href="mailto:robmanganelly@gmail.com">robmanganelly</a>
        </address>
        <small>
            All rights reserved.&copy; 2021
        </small>
    </footer>
</div>