.sheet{
    width: 80%;
    margin: auto;
}

// mat-button-toggle-group{
//     flex-wrap: wrap;
//     margin: auto;
// }

// mat-form-field {
//     width: 100%;
// }

// button {
//     margin: auto;
// }

mat-button-toggle{
  width: auto;
}
mat-button-toggle-group{
  flex-wrap: wrap;
}

mat-button-toggle:hover{
  background-color: rgb(241, 236, 236);
}

.no-tricks-alert{

  text-align: center;
}

.options-box{
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}


mat-toolbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

mat-toolbar button{
  margin-right: 20px;
}

.notif-banner{
  margin: auto;
  background-color: rgb(253, 235, 235);
  font-size: larger;
  color: darkred;
  text-align: center;
  border-radius: 10px;
}

.shortcut{
  cursor: pointer;
}
