<mat-toolbar color="primary">
  <span>LanguageName</span>

  <span class="example-spacer"></span>

  <button mat-button >Back</button>
</mat-toolbar>

<div class="sheet">
  <div class="separator"></div>
  <mat-button-toggle-group [(ngModel)]="filterOptions" aria-label="Trick Options" appearance="legacy" >
    <mat-button-toggle value="noFilter">Show all tricks</mat-button-toggle>
    <mat-button-toggle value="newFilter">Show only new tricks</mat-button-toggle>
    <mat-button-toggle value="favFilter">Show only favorites tricks</mat-button-toggle>
    <mat-button-toggle value="add">Add a new Trick</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="separator"></div>

  <div *ngIf="filterOptions !== 'add'">
    <mat-form-field appearance="fill">
      <mat-label>Tricks Filter</mat-label>
      <input matInput placeholder="type to find " >
    </mat-form-field>
  <div class="separator"></div>
  <div><p>[todo place pagination buttons here]</p></div>
  <div class="scrollable">
    <!--todo fill the loop with real data, coming from backend -->
    <app-probsheet *ngFor="let trick of languageTricks" ></app-probsheet>
  </div>

  </div>

  <div *ngIf="filterOptions === 'add'">
    <form [formGroup]="newTrickForm" (ngSubmit)="onSubmitNewTrick()">
      <mat-form-field aria-required="true" appearance="fill"  >
        <mat-label>What problem are you solving?</mat-label>
        <input formControlName="newTrickTitle" matInput placeholder="please write a brief description. Ensure to not repeat any previous solved trick " >
      </mat-form-field>

      <mat-form-field aria-required="true" appearance="fill" >
        <mat-label>What is your solution?</mat-label>
        <textarea  formControlName="newTrickSolution" matInput placeholder="try to be original, community is watching" ></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill"  >
        <mat-label>Do you want to leave any comments?</mat-label>
        <input formControlName="newTrickComment" matInput placeholder="Don't push yourself too much, comments are not required." >
      </mat-form-field>

      <button mat-stroked-button type="reset" [disabled]="!newTrickForm.valid">Reset</button> |
      <button mat-stroked-button type="submit" [disabled]="!newTrickForm.valid">Submit</button>


    </form>


  </div>

</div>
