<mat-toolbar color="primary">
  <span>{{languageName}}</span>

  <span class="spacer"></span>

  <button mat-button [routerLink]="['/']" ><mat-icon>keyboard_return</mat-icon></button>
</mat-toolbar>

<div class="sheet">
  <div class="separator"></div>
  <mat-button-toggle-group [(ngModel)]="filterOptions" aria-label="Trick Options" appearance="legacy" >
    <mat-button-toggle (click)="refreshProblems()" value="noFilter">Show all tricks</mat-button-toggle>
    <mat-button-toggle (click)="refreshProblems()" value="newFilter">Show only new tricks</mat-button-toggle>
    <mat-button-toggle (click)="refreshProblems()" value="favFilter">Show only favorites tricks</mat-button-toggle>
    <mat-button-toggle (click)="refreshProblems()" value="add">Add a new Trick</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="separator"></div>

  <div *ngIf="filterOptions !== 'add'">
    <mat-form-field appearance="fill">
      <mat-label>Tricks Filter</mat-label>
      <input matInput placeholder="type to find " >
    </mat-form-field>
  <div class="pagination-panel">
    <button mat-raised-button color="primary"><mat-icon>arrow_back_ios</mat-icon></button>
    <span class="page-labels">
      displaying record 1000-1050 from 10000 records
    </span>
    <button mat-raised-button color="primary"><mat-icon>arrow_forward_ios</mat-icon></button>
    <span class="records-at-once">
      <span >
        display
      </span>
      <input type="number" name="" id="recordsAtOnce" value="10" min="1" max="50">
      <span >
        records at once
      </span>
    </span>
  </div>
  <div class="scrollable">
    <!--todo fill the loop with real data, coming from backend -->
    <app-probsheet *ngFor="let trick of languageTricks" [problem]="trick" ></app-probsheet>
    <div class="no-tricks-alert" *ngIf="languageTricks.length === 0">
      <h2>No tricks for this language so far. Be the first on adding a problem and its solution!!</h2>
    </div>
  </div>

  </div>

  <div *ngIf="filterOptions === 'add'">
    <app-edit-solution></app-edit-solution>


  </div>

</div>
