<mat-toolbar color="primary">
  <button mat-flat-button [routerLink]="['/index']" >
    <mat-icon>arrow_back_ios</mat-icon>Back
  </button>
  <span>{{languageName}}</span>

  <span class="spacer"></span>

  <img [src]="profileImage" alt="user default image" (click)="clickProfileImage()">
</mat-toolbar>

<div class="sheet">
  <div class="separator"></div>
  <div class="notif-banner" *ngIf="!loggedUser">
    <span [routerLink]="['/auth']" class="shortcut"  >login to gain access to edition privileges and uploading content</span>
  </div>
  <div class="separator"></div>
  <span class="options-box">
    <mat-button-toggle-group
      [(ngModel)]="noFilter"
      #group="matButtonToggleGroup"
      (click)="refreshProblems(group.value)"
      aria-label="Trick Options"
      >
      <mat-button-toggle  value="noFilter">Show all tricks</mat-button-toggle>
      <mat-button-toggle  value="newFilter">Show only new tricks</mat-button-toggle>
      <mat-button-toggle  value="favFilter">Show only favorites tricks</mat-button-toggle>
      <mat-button-toggle [disabled]="!loggedUser"  value="add">Add a new Trick</mat-button-toggle>
    </mat-button-toggle-group>
    <span *ngIf="group.value !== 'add'">
      <mat-form-field appearance="standard">
        <mat-label>Search Tricks by its name</mat-label>
        <input matInput placeholder="Type to find by name " #searchBar >
      </mat-form-field>
      <button
        *ngIf="searchBar.value!==''"
        (click)="searchBar.value = ''"
        mat-icon-button><mat-icon>clear</mat-icon></button>
      <button
        [disabled]="searchBar.value===''"
        mat-icon-button (click)="searchByName(searchBar)"><mat-icon>search</mat-icon>
      </button>

    </span>
  </span>

  <div class="separator"></div>

  <div *ngIf="group.value !== 'add'">

  <div>
    <mat-paginator
      #paginatorProblems
      (page)="capturePageEvent($event,group.value)"
      color="primary"
      showFirstLastButtons
      [length]="totalItems"
      [pageSize]="limitPerPage"
      [pageSizeOptions]="pagSOpt"
      aria-label="select page"
    ></mat-paginator>
  </div>
  <div class="scrollable">
    <!--todo fill the loop with real data, coming from backend -->
    <app-probsheet *ngFor="let trick of languageTricks" [problem]="trick" ></app-probsheet>
    <div class="no-tricks-alert" *ngIf="languageTricks.length === 0">
      <h2>No results Found, please try adding a new problem to solve or changing the options!</h2>
    </div>
  </div>

  </div>

  <div *ngIf="group.value === 'add'">
    <app-edit-solution></app-edit-solution>
  </div>

</div>
