.sheet{
    width: 80%;
    margin: auto;
}

// mat-button-toggle-group{
//     flex-wrap: wrap;
//     margin: auto;
// }

// mat-form-field {
//     width: 100%;
// }

// button {
//     margin: auto;
// }


mat-button-toggle:hover{
  background-color: rgb(241, 236, 236);
}

.no-tricks-alert{

  text-align: center;
}

.options-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}


