.sheet{
    width: 80%;
    margin: auto;
}

mat-button-toggle-group{
    flex-wrap: wrap;
}

mat-form-field {
    width: 100%;
}

button {
    margin: auto;
}




mat-button-toggle:hover{
  background-color: rgb(241, 236, 236);
}

.no-tricks-alert{

  text-align: center;
}

.pagination-panel{
  margin: 10px auto 10px auto;
  border-radius: 5px;
  border: solid black 1px;
  padding: 1px 2px;
  width: fit-content;
}

.page-labels{
  font-weight: 600;
  margin:2px 100px 2px 100px;
  font-size: larger;
}

#recordsAtOnce{
  width: 100px;
}

.records-at-once{
  font-size: larger;
  font-weight: 600;
  margin: 2px 50px 2px 50px;
}
