img{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
.mat-dialog-content button{
  margin-left: -20px;
}

// .spacer {
//   flex: 1 1 auto;
//   border: solid black 1px;
// }

.header{
  display:flex;
  vertical-align: text-bottom;
  justify-content: space-between;
  text-align: end;
}

#hi{
  font-size: large;
  font-weight: 400;
}

mat-form-field{
  width: 60%;
}

input[type=file]{
  display: none;
  visibility: hidden;
}
