

<mat-card>
  <mat-card-header>
    <mat-card-subtitle>
      posted by: {{ currentSolution.postedBy.username | capitalize }} on {{ currentSolution.date | date}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <code class="primaryColor" #codeContainer>{{currentSolution.solution}}</code>
  </mat-card-content>
  <mat-card-actions align="end">
    <button *ngIf="!!currentUser && currentUser._id === currentSolution!.postedBy._id" (click)="clickEdit('update-trick')" mat-icon-button><mat-icon color="primary">edit</mat-icon></button>
    <button (click)=clickCopy(codeContainer) mat-icon-button><mat-icon color="primary">content_copy</mat-icon></button>
    <button (click)=clickFavorite() mat-icon-button><mat-icon color="primary">{{favorite?'favorite':'favorite_border'}}</mat-icon></button>
    <button (click)=clickLike() mat-icon-button><mat-icon color="primary">{{like?'thumb_up':'thumb_up_off_alt'}}</mat-icon></button>
    <button (click)=clickDislike() mat-icon-button><mat-icon color="primary">{{dislike?'thumb_down':'thumb_down_off_alt'}}</mat-icon></button>
  </mat-card-actions>
</mat-card>

<div class="separator"></div>
<mat-slide-toggle
  color="primary"
  (change)="toggleButton($event)">
  {{displayComments?"Hide Comments Section":"Display Comments Section"}}</mat-slide-toggle>
<div class="separator"></div>


<div class="comments-section" *ngIf="displayComments " >
  <div class="full-width">
    <h3>Feel free to leave any comments to this solution</h3>
    <form  [formGroup]="formComment" (ngSubmit)="postComment()" >
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="comment" placeholder="comment here..." name="" id="" cols="30" rows="2" ></textarea>
      </mat-form-field>
      <div class="comment-actions-box">
        <button type="reset"  mat-stroked-button>Cancel</button>
        <button type="submit" [disabled]="!formComment.valid" mat-stroked-button>Comment</button>
      </div>
    </form>
  </div>

  <div class="separator"></div>
  <mat-divider></mat-divider>
  <div class="separator"></div>

  <ng-container *ngIf="comments.length > 0 ; else noCommentBox" >
    <div class="comment-box">
      <mat-card *ngFor="let comment of comments" >
        <mat-card-header>
          <mat-card-subtitle>
            posted by: {{comment.author.username | capitalize }} on {{comment.date | date}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{comment.text}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </ng-container>


  <ng-template #noCommentBox>
    <p>No comments for this solution</p>
  </ng-template>


  <div class="separator"></div>

</div>
