.add-solution{
  padding-left: 20px;
  padding-bottom: 20px;
  width: 98vw;
}

.add-solution form mat-form-field {
  min-width: 93vw;
}

input[type="file"]{
  visibility: hidden;
  display: none;
}

mat-toolbar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 10px;
}

.notif-banner{
  margin: auto;
  background-color: rgb(253, 235, 235);
  font-size: larger;
  color: darkred;
  text-align: center;
  border-radius: 10px;
}

.notif-banner span:hover{
  cursor: pointer;

}
