.add-solution{
  padding-left: 20px;
  padding-bottom: 20px;
  width: 98vw;
}

.add-solution form mat-form-field {
  min-width: 93vw;
}

input[type="file"]{
  visibility: hidden;
  display: none;
}
mat-toolbar span img {
  max-width: 30px;
  border-radius: 5px;
  margin: 5px;
}
