<mat-toolbar color="primary">
  <button mat-flat-button (click)="goBack()" > <mat-icon>arrow_back_ios</mat-icon>Back</button>
  <img [src]="currentLanguageImage" alt="" srcset="">
  <span>
        {{activeProblem.title | capitalize}}
  </span>
  <span class="spacer"></span>
  <img [src]="currentUserImage" (click)="onClickProfileImage()" alt="" srcset="">

</mat-toolbar>

<div class="separator"></div>
<div class="notif-banner" *ngIf="!currentUser">
  <span [routerLink]="['/auth']"   >login to gain access to edition privileges and uploading content</span>
</div>
<div class="separator"></div>


<div class="add-solution" *ngIf="!currentUserHasPostedThisSolutionBefore">
  <button [disabled]="!currentUser"  mat-raised-button color="primary" (click)="createNewSolutionClicked()"  >{{!newSolutionRequested?"Add my own solution":"Dismiss"}}</button>
  <button
    [disabled]="!personalSolutionForm.valid"
    mat-stroked-button
    *ngIf="newSolutionRequested"
    type="submit"
    form="newSolutionForm">
    <mat-icon>add</mat-icon> Create New Solution
  </button>
  <form *ngIf="newSolutionRequested" id="newSolutionForm" (ngSubmit)="createNewSolutionSubmit()" [formGroup]="personalSolutionForm" >
    <mat-form-field appearance="outline">
      <mat-label>Insert your solution here</mat-label>
      <textarea matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="50"
      [value]="personalSolutionValue"
      formControlName="solution"
      placeholder="Place here the code" ></textarea>
    </mat-form-field>

    <button type="button" mat-stroked-button (click)="codeGrabberRef.click()" > Copy Code from Files</button>
  <div class="separator"></div>
  <input #codeGrabberRef type="file" name="" id="" (change)="grabFileAndReadAsText($event)">


  </form>
</div>

<mat-divider></mat-divider>
<div class="separator"></div>


<div class="solution-container" *ngFor="let solution of solutions">
  <app-solution [currentSolution]="solution" [activeProblem]="activeProblem"> </app-solution>
  <!-- put solutions here with selector and input property -->
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <div class="separator"></div>
</div>
