.new-tag{
  z-index: 2;
  position: absolute;
  right: 5%;
  width: 5%;
  height: auto;

}

.container:hover{
  border: solid darkblue 2px;
}

mat-card-title:hover{
  cursor: pointer;
  color: darkblue;
}
