<div class="container">
  <mat-divider></mat-divider>
  <mat-card>
    <img class="new-tag" src="assets/new_icon_final.png" alt="new">
    <mat-card-header>
      <mat-card-title (click)="openTrick()" >
        {{problem.title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{problem.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)=clickFavorite() ><mat-icon color="primary">{{!isFavorite? 'favorite_border': 'favorite'}}</mat-icon></button>
      <!-- <button mat-icon-button (click)=clickEdit() ><mat-icon color="primary">edit</mat-icon></button> -->
      <!-- only owner can edit other users can only add, un logged users can not do anything but read -->
      <!-- <button mat-icon-button (click)=clickEdit() ><mat-icon color="primary">add</mat-icon></button> -->
    </mat-card-actions>
  </mat-card>
</div>
